# MySQL Database Settings
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=crud_app

# API Backend Settings
PORT=5000
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=crud_app
DB_SSL=false
JWT_SECRET=mirzaDevopsSuperSecretKey
ADMIN_NAME=Admin User
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_ROLE=admin

# Client Frontend Settings
REACT_APP_API=http://localhost:5000/api
